.main {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--white-color);
}

@media screen and (max-width: 1550px) {
  .main {
    height: auto;
  }
}
