.price {
  width: 100%;
  height: 350vh;
  background-color: var(--white-color);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .front-page-box {
    background-position: 50% 40%;
  }
}

@media screen and (max-width: 1550px) {
  .price {
    height: auto;
  }
}
