.about-help {
    width: 50%;
    height: 40vh;
    background-color: var(--white-color);
    margin-bottom: 7rem;
    padding: 1rem;

    h1 {
        font: 1.95rem var(--playfair-bold);
        margin-bottom: 1rem;
    }

    p {
        margin-bottom: 1rem;
    }

    ul {
        height: 130px;
        list-style: disc;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 1rem;

        li {
            margin-left: 2rem;
            margin-bottom: .5rem;
            font: 1rem var(--playfair-regular-italic);
        }
    }
}

@media screen and ( max-width: 1550px ) {
    .about-help {
        width: 50%;
        height: 70vh;
        margin-bottom: 1rem;
        padding: 1rem;
    }
}

@media screen and ( max-width: 1050px ) {
    .about-help {
        height: 60vh;
        width: 60%;
        margin-bottom: 5rem;

        h1 {
            font-size: 1.5rem;
        }
    
        p {
            font-size: .9rem;
        }
    
        ul {
            height: 140px;
        }
    }
}

@media screen and ( max-width: 700px ) {
    .about-help {
        width: 70%;
        height: 75vh;
    
        ul {
            height: 170px;
    
            li {
                font-size: .9rem;
            }
        }
    }
}

@media screen and ( max-width: 550px ) {
    .about-help {
        width: 80%;
        height: 80vh;
    
        ul {
            height: 170px;
    
            li {
                font-size: .9rem;
            }
        }
    }
}